<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} inicio {%endblock%}</title>
</head>

<body>
  <div>
    <h1>Sección Navegación</h1>
    <a href="{{url_for('blog')}}">Blog</a>
    <a href="{{url_for('perfil')}}">Perfil</a>
    <a href="{{url_for('formulario')}}">Formulario</a>
  </div>

  {% block content %}


  {% endblock%}

  <footer>
    <h3>Esto es el footer</h3>
  </footer>
</body>

</html>